<div class="row">
    <div class="form-group">
        <label for="deleteKitId" class="col-sm-2 control-label">
            <button class="btn btn-danger" ng-click="deleteKit();" ng-disabled="!kit.deleteKitId">
                Delete Kit
            </button>
        </label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="deleteKitId" placeholder="Kit Id" ng-model="kit.deleteKitId">
        </div>
    </div>
</div>
<div ng-show="deletedKit" class="well">
    <p>{{deletedKit}}</p>
</div>