<div class="row">
    <div class="form-group">
        <label for="updateKitId" class="col-sm-2 control-label">
            <button class="btn btn-danger" ng-click="updateKit();" ng-disabled="!kit.updateKitId">
                Update Kit
            </button>
        </label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="updateKitId" placeholder="Kit Id" ng-model="kit.updateKitId">
        </div>
    </div>
</div>
<div ng-show="updatedKit" class="well">
    <p>{{updatedKit}}</p>
</div>